body {
    background-color: lightblue;

    }

div {
    color: white;
    background-color: black;
  }
  
  p {
    color: black
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    
  }

  ul{
    color: blue;
    list-style-type: square;
  }

  ol{
    color: rebeccapurple;
    list-style-type: square;
  }

  h1{
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    color: brown;
    text-align: center;
    font-weight: bolder;
  }

  h3{
    color: indianred;
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    font-weight: bold;
    
  }